@import "tailwindcss";

@font-face {
    font-family: 'KboDiamondGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@theme {
  --font-rdb: "KboDiamondGothic", serif;
}

body {
  font-family: "KboDiamondGothic", serif;
}